<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Clinician Home</title>
        <link rel="icon" type="image/png" href="/images/logo.png">
        <link rel="stylesheet" href="/css/clinician.css" />
    </head>

    <body>
        <header>
            <nav id='after_log_web_header'>
                <ul>
                    <li><img src="/images/logo.png"></li>
                        <li><b href="/clinicianhome">DASHBOARD</b></li>
                        <li><a href="/c_patientdetail">PATIENT DETAILS</a></li>
                        <li><a href="/comment">COMMENT LIST</a></li>
                        <ri><form method="POST" action="/logout"><button>Logout</button></form></ri>
                        <ri><a href="#">Chris</a></ri>
                        <ri><img id="clinicianImg" src="images/clinician_pic.jpg"  width="70" height="70"></ri>
                </ul>
            </nav>            
        </header>        
        <main>
            <div class="dashboard">
                <h1>Patient overview is here!</h1>

                <h2>Search for a patient</h2>


                <table class="dashboard_table">
                    
                    <tr>
                        <th>Patient ID</th>
                        <th>Patient Name</th>
                        <th>DOB</th>
                        <th>Gender</th>
                        <th>Blood Glucose Level/Threshold (nmol/L)</th>
                        <th>Weight/Threshold (kg)</th>
                        <th>Doses of insulin taken/Threshold (Number of doses)</th>
                        <th>Exercise/Recommended Amount of Exercise (step count)</th>
                        <th>Action</th>
                    </tr>
                    
                    {{#each data}}
                        <tr>
                            <td><a>{{this._id}}</a></td>
                            <td><a>{{this.first_name}} {{this.last_name}}</a></td>
                            <td><a>{{this.DOB}}</a></td>
                            <td><a>{{this.gender}}</a></td>
                            {{#if this.blood_glucose_level}}
                                {{#if (isSafe this.blood_glucose_level)}}
                                    <td class="out_range"><a>{{this.blood_glucose_level}}</a></td>
                                    {{else}}<td><a>{{this.blood_glucose_level}}</a></td>
                                {{/if}}
                                {{else}}<td class="not_required"><a>Not Required</a>
                            </td>{{/if}}
                            {{#if this.weight}}<td>
                                <a>{{this.weight}}</a></td>
                                {{else}}<td class="not_required"><a>Not Required</a>
                            </td>{{/if}}
                            {{#if this.doses}}<td>
                                <a>{{this.doses}}</a></td>
                                {{else}}<td class="not_required"><a>Not Required</a>
                            </td>{{/if}}
                            {{#if this.exercise}}<td>
                                <a>{{this.exercise}}</a></td>
                                {{else}}<td class="not_required"><a>Not Required</a>
                            </td>{{/if}}
                            <td>
                                <a href="/patient/{{this._id}}" id="view_button">View Detail</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>
                <div class="buttons">
                    <form action="/comment/lastpage" method="POST">
                        <input type="text" name="page_num" class="invisible">
                        <input type="image" name="submit" class="to_left" src="/images/to_left.png">
                    </form>
                    <button class="signup_button" onclick="window.location.href='/signup'">Sign Up</button>

                    <form action="/comment/nextpage" method="POST">
                        <input type="text" name="page_num" class="invisible">
                        <input type="image" name="submit" class="to_right" src="/images/to_right.png">
                    </form>
                </div>

            </div>


            
        </main>
        
    </body>>
</html>