<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Comment List</title>
        <link rel="icon" type="image/png" href="/images/logo.png">
        <link rel="stylesheet" href="/css/clinician.css" />
        <script src="/js/turnpages.js"></script>
    </head>

    <body>
        <header>
            <nav id='after_log_web_header'>
                <ul>
                    <li><img src="/images/logo.png"></li>
                        <li><a href="/clinicianhome">DASHBOARD</a></li>
                        <li><a>PATIENT DETAILS</a></li>
                        <li><b href="/comment">COMMENT LIST</b></li>
                        <ri><form method="POST" action="/logout"><button>Logout</button></form></ri>
                        <ri><a href="#">Chris</a></ri>
                        <ri><img id="clinicianImg" src="/images/clinician_pic.jpg"  width="70" height="70"></ri>
                </ul>
            </nav>            
        </header>
        <main>
            <div class="dashboard">
                <h1>Patient comments overview</h1>

                <h2>Comment List</h2>


                <table class="dashboard_table">
                    <tr>
                        <th>Patient ID</th>
                        <th>Patient Name</th>
                        <th>Gender</th>
                        <th>Comment Date</th>
                        <th>Comments (click to see complete comment)</th>
                    </tr>
                    {{#each data}}
                    <tr>
                            <td><a>{{this.patient_id._id}}</a></td>
                            <td><a>{{this.patient_id.first_name}} {{this.last_name}}</a></td>
                            <td><a>{{this.patient_id.gender}}</a></td>
                            <td><a>{{this.timestamps}}</a></td>
                            <td><a>{{this.content}}</a></td>
                    </tr>
                    {{/each}}
                </table>
                <div class="buttons">
                    <button class="signup_button" onclick="window.location.href='/signup'">Sign Up</button>
                    <form method="POST" action="/comment/page">
                        <input id="page_num" type="number" name="page_num">
                        <button id="submit_button" type="submit">Turn the Page</button>
                    </form>

                </div>

            </div>


            
        </main>
        
    </body>>
</html>