<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>patient historical detail</title>
        <link rel="icon" type="image/png" href="/images/logo.png">
        <link rel="stylesheet" href="/css/p_hdetail.css"/>
        <script src="/js/buttonInteraction.js"></script>
    </head>

    <body>
        <header>
            <nav id='after_log_web_header'>
                <ul>
                    <li><img src="/images/logo.png"></li>
                        <li><b href="/record">DASHBOARD</b></li>
                        <li><a href="/aboutus">ABOUT US</a></li>
                        <li><a href="/aboutdiabetes">ABOUT DIABETES</a></li>
                        <li><button class="header_button" 
                            onclick="changeDarkmode()">SWITCH MODE</button></li>
                        <ri><form method="POST" action="/logout"><button>Logout</button></form></ri>
                        {{#with oneItem}}
                            <ri><a>{{first_name}}</a></ri>
                        {{/with}}
                        <ri><img class="patient_img" src="/images/patient.png"></ri>
                </ul>
            </nav>            
        </header>

        <main id="other_content">
            <div class="dashboard">
                <h2>View your health data</h2>

                <div class="patient_info">
                    <h1>Patient Informations:</h1>
                    <img src="/images/patient.png">
                    {{#with oneItem}}
                        <p class="info_text"> Patient ID: {{_id}}</p>
                    {{/with}}
                    {{#with oneItem}}
                        <p class="info_text"> Patient Name: {{screen_name}}</p>
                    {{/with}}
                </div>

                <div class="patient_data">
                    <h1>View data:</h1>

                    <form id="data_form" action="/patient/record" method="POST">
                    <h2></h2>
                    <label class="record_text">Weight:</label>
                    <input type="number" class="form_input" name="data_content" disabled="disabled" value="10"/>
                    <label class="record_text">kg</label>

                    <h2></h2>
                    <label class="record_text">Blood Glucose Level:</label>
                    <input type="number" class="form_input" name="data_content" disabled="disabled" value="10"/>
                    <label class="record_text">nmol/L</label>


                    <h2></h2>
                    <label class="record_text">Doses of insulin taken:</label>
                    <input type="number" class="form_input" name="data_content" disabled="disbaled" value="10"/>
                    <label class="record_text">Doses</label>

                    <h2></h2>
                    <label class="record_text">Exercise:</label>
                    <input type="number" class="form_input" name="data_content" disabled="disabled" value="10"/>
                    <label class="record_text">Steps</label>
                </div>

                <div class="clinician_note">

                    <h1>Clinician notes:</h1>
                    <div class="rectangle">
                        {{#with oneItem}}
                            <h4>{{this.note}}</h4>
                        {{/with}}
                    </div>
                    <h1 id="sm">Support Message:</h1>
                    <div class="rectangle_2">
                        {{#with oneItem}}
                            <h4>{{this.support_message}}</h4>
                        {{/with}}
                    </div>
                </div>

                <div class="buttons">
                    <button class="back_button" onclick="window.location.href='/'">Back to record data</button>
                    <button class="achievement_button" onclick="window.location.href='/p_historicaldetail'">View Achievement</button>
                </div>

            </div>
        </main>
    </body>
</html>