<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Patient Record</title>
        <link rel="icon" type="image/png" href="/images/logo.png">
        <link rel="stylesheet" href="/css/record.css" />
    </head>
    <body>
        <header>
            <nav id='after_log_web_header'>
                <ul>
                    <li><img src="/images/logo.png"></li>
                        <li><b href="/record">DASHBOARD</b></li>
                        <li><a href="#">VIEW DATA</a></li>
                        <li><a href="/achievement">ACHIVEMENT</a></li>
                        <ri><form method="POST" action="/logout"><button>Logout</button></form></ri>
                        {{#with oneItem}}
                            <ri><a>{{first_name}}</a></ri>
                        {{/with}}
                        <ri><img id="patientImg" src="/images/patient_pic.jpg"  width="70" height="70"></ri>
                </ul>
            </nav>            
        </header>     
        <main id="phone_content">
                <div id="user_info">
                    <img id="user_avatar" src="/images/avatar.png" >
                    {{#with oneItem}}
                        <h1 id="screen_name">{{screen_name}}</h1>
                    {{/with}}
                </div>

                <form id="data_form" action="/patient/record" method="POST">
                    {{#with oneItem}}
                        <textarea name="pid" id="id_content">{{_id}}</textarea>
                    {{/with}}
                    <div class="form_field"></div>
                            <input class="radio" type="radio" name="check_bg" />
                            <label class="form_label" id="bg_label">Blood Glucose Level</label>
                            <img class="form_icon" src="/images/comment_icon.png">
                        <br/>
                        <div class="form_info">
                            <input type="number" class="form_input" name="data_content" />
                            <label class="form_unit">nmol/L</label>
                            <br/>
                            {{#with oneItem}}
                                {{#if this.blood_glucose_level}}
                                    <label class="form_digit">Last Record: {{this.blood_glucose_level}}</label>
                                    <br/>
                                {{else}} <label class="form_digit">None</label>
                                {{/if}}
                            {{/with}}

                        </div>
                    </div>
                                <div id="comment_form">
                                    <p class="normal_text">Comment About This Record:</p>
                                    <textarea name="content" id="comment_box" cols="35" rows="6"></textarea>
                                </div>
                                <input id="submit" type="submit" />

                </form>
        </main>
        <main id="other_content">
            <div class="dashboard">
                <h2>Record your health data</h2>

                <div class="patient_info">
                    <h1>Patient Informations:</h1>
                    <img src="/images/info_avatar.png">
                    {{#with oneItem}}
                        <p class="info_text"> Patient ID: {{_id}}</p>
                    {{/with}}
                    {{#with oneItem}}
                        <p class="info_text"> Patient Name: {{screen_name}}</p>
                    {{/with}}
                </div>

                <div class="patient_data">
                    <h1>Record data:</h1>

                    <h2></h2>
                    <input type="radio" checked="checked" name="info"/>
                    <label class="record_text">Weight:</label>
                    <input type="number" class="form_input" name="data_content" />
                    <label class="record_text">kg</label>
                    {{#with oneItem}}
                        {{#if this.weight}}
                        <br/>
                        <label class="form_digit">Last Record: {{this.weight}}</label>
                        {{/if}}
                    {{/with}}

                    <h2></h2>
                    <input type="radio" checked="checked" name="info"/>
                    <label class="record_text">Blood Glucose Level:</label>
                    <input type="number" class="form_input" name="data_content" />
                    <label class="record_text">nmol/L</label>
                    {{#with oneItem}}
                        {{#if this.blood_glucose_level}}
                        <br/>
                        <label class="form_digit">Last Record: {{this.blood_glucose_level}}</label>
                        {{/if}}
                    {{/with}}

                    <h2></h2>
                    <input type="radio" checked="checked" name="info"/>
                    <label class="record_text">Doses of insulin taken:</label>
                    <input type="number" class="form_input" name="data_content" />
                    <label class="record_text">Doses</label>
                    {{#with oneItem}}
                        {{#if this.doses}}
                        <br/>
                        <label class="form_digit">Last Record: {{this.doses}}</label>
                        {{/if}}
                    {{/with}}

                    <h2></h2>
                    <input type="radio" checked="checked" name="info"/>
                    <label class="record_text">Exercise:</label>
                    <input type="number" class="form_input" name="data_content" />
                    <label class="record_text">Steps</label>
                    {{#with oneItem}}
                        {{#if this.exercise}}
                        <br/>
                        <label class="form_digit">Last Record: {{this.exercise}}</label>
                        {{/if}}
                    {{/with}}
                </div>

                <img class="separate_line" src="/images/separate_line.png">

                <div class="patient_note">
                    <form action="/comment/reply" method="POST"></form>
                        <h1>Patient notes:</h1>

                    </form>
                </div>

                <div class="buttons">
                    <button class="save_button">Save the changes</button>
                    <button class="achievement_button" onclick="window.location.href='/achievement'">View achievement</button>

                </div>

            </div>
        </main>
    </body>


</html>